<a href="https://colab.research.google.com/github/Vandana-2211/UNP-assignment/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dt=pd.read_csv('/content/data_2.csv',index_col=0)
dt

       col_1  col_2   col_3  col_4     col_5    col_6
index
1        800    0.0  0.3048   71.3  0.002663  126.201
2       1000    0.0  0.3048   71.3  0.002663  125.201
3       1250    0.0  0.3048   71.3  0.002663  125.951
4       1600    0.0  0.3048   71.3  0.002663  127.591
5       2000    0.0  0.3048   71.3  0.002663  127.461
...      ...    ...     ...    ...       ...      ...
1499    2500   15.6  0.1016   39.6  0.052849  110.264
1500    3150   15.6  0.1016   39.6  0.052849  109.254
1501    4000   15.6  0.1016   39.6  0.052849  106.604
1502    5000   15.6  0.1016   39.6  0.052849  106.224
1503    6300   15.6  0.1016   39.6  0.052849  104.204

[1503 rows x 6 columns]

1. Find maximum, minimum value of all the columns.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
col_max=dt.max()
col_max

col_1    20000.000000
col_2       22.200000
col_3        0.304800
col_4       71.300000
col_5        0.058411
col_6      140.987000
dtype: float64

In [ ]:
col_min=dt.min()
col_min

col_1    200.000000
col_2      0.000000
col_3      0.025400
col_4     31.700000
col_5      0.000401
col_6    103.380000
dtype: float64

2. Find average value of the second column and then count how many values in the second column is less than this average value.

In [ ]:
np.mean(dt.col_2)

6.782302062541517

In [ ]:
vt=dt[['col_2']][dt.col_2<np.mean(dt.col_2)]
vt

       col_2
index
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0
...      ...
1373     6.7
1374     6.7
1375     6.7
1376     6.7
1377     6.7

[837 rows x 1 columns]

In [ ]:
vt.shape

(837, 1)

3. Find the median value for the third column.

In [ ]:
np.median(dt.col_3)

0.1016

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive