<a href="https://colab.research.google.com/github/Vandana-2211/UNP-assignment/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.linear Regression

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [ ]:
dt=pd.read_excel('/content/Airfoil Self-Noise Data Set.xlsx',sheet_name=1)
dt

,Frequency (Hz),Angle of Attack (Degrees),Chord length (m),Free stream velocity (m/s),Suction side displacement thickness (m),Scaled sound pressure level (Decibels)
0,800,0.0,0.3048,71.3,0.002663,126.201
1,1000,0.0,0.3048,71.3,0.002663,125.201
2,1250,0.0,0.3048,71.3,0.002663,125.951
3,1600,0.0,0.3048,71.3,0.002663,127.591
4,2000,0.0,0.3048,71.3,0.002663,127.461
...,...,...,...,...,...,...
1498,2500,15.6,0.1016,39.6,0.052849,110.264
1499,3150,15.6,0.1016,39.6,0.052849,109.254
1500,4000,15.6,0.1016,39.6,0.052849,106.604
1501,5000,15.6,0.1016,39.6,0.052849,106.224
1502,6300,15.6,0.1016,39.6,0.052849,104.204

In [ ]:
x=dt.iloc[:,0:5]
y=dt.iloc[:,5]

lm=LinearRegression()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=1)
lm.fit(X_train, y_train)
y_pred = lm.predict(X_test)

In [ ]:
print(lm.intercept_)
print(lm.coef_)

133.09330984164674
[-1.27602910e-03 -4.08079464e-01 -3.61173791e+01  9.87437412e-02
 -1.61990153e+02]

In [ ]:
print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

4.96365737855477

In [ ]:
{i:j for i,j in zip(dt.columns,lm.coef_)}

{'Angle of Attack (Degrees)': -0.40807946408172924,
 'Chord length (m)': -36.11737913456952,
 'Free stream velocity (m/s)': 0.09874374118953955,
 'Frequency (Hz)': -0.001276029096059718,
 'Suction side displacement thickness (m)': -161.99015325862007}

2.IRIS

In [ ]:
dt1=pd.read_csv("iris.csv",index_col=0)
dt1

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width           Class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
logreg = LogisticRegression(C=1e9)
x1=dt1.iloc[:,0:4]
y1=dt1.iloc[:,4]

In [ ]:
X1_train, X1_test, y1_train, y1_test = train_test_split(x1, y1, random_state=1)
logreg.fit(X1_train,y1_train)
y1_pred = logreg.predict(X1_test)

In [ ]:
y1_pred

array(['Iris-setosa', 'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa'],
      dtype=object)

In [ ]:
#cannot get this as we cant covert char into float


print(np.sqrt(metrics.mean_squared_error(y1_test, y1_pred)))