<a href="https://colab.research.google.com/github/Vandana-2211/UNP-assignment/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##kinetic formulae

In [ ]:
a=10
u=15
t=20
v=u+(a*t)
s=(u*t)+(0.5*a*t**2)
#n=v**2
n=(u**2)+(2*a*s)
print("v =",v,"s=", s,"v^2 =",n)

v = 215 s= 2300.0 v^2 = 46225.0

##Grading system

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
mat=int(input("enter marks in maths"))
phy=int(input("enter marks in physics"))
che=int(input("enter marks in chemistry"))
lit=int(input("enter marks in literature"))
com=int(input("enter marks in computer"))

enter marks in maths98
enter marks in physics85
enter marks in chemistry86
enter marks in literature75
enter marks in computer88

In [ ]:
avg=(mat+phy+che+lit+com)/5
avg

86.4

In [ ]:
avg_in_sci=(mat+phy+che)/3
avg_in_sci

89.66666666666667

In [ ]:
if(avg>90):
  print("excellent")

In [ ]:
if(avg>80 and avg<90 and avg_in_sci>95):
  print("excellent")

In [ ]:
if(avg>70 and avg<80):
  print("good")

In [ ]:
if(avg<70):
  print("fail")

##using loops

In [ ]:
print("even numbers upto 100 are:")
start,end=0,100
for number in range(start,end+1):
  if(number%2==0):
    print(number )

even numbers upto 100 are:
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
print("All numbers which are multiple by 3 or 5 are:")
start,end=0,200
for number in range(start,end):
  if(number%3==0 or number%5==0):
    print(number )

All numbers which are multiple by 3 or 5 are:
0
3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99
100
102
105
108
110
111
114
115
117
120
123
125
126
129
130
132
135
138
140
141
144
145
147
150
153
155
156
159
160
162
165
168
170
171
174
175
177
180
183
185
186
189
190
192
195
198

In [ ]:
number=int(input("enter the number"))
fact=0
for i in range(2,number-1):
  if(number%i==0):
    fact=1
if(fact==0):
  print(number,"is a prime number")
else:
  print(number,"is not a prime number")

enter the number2
2 is a prime number